@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', 'Segoe UI', 'Helvetica Neue', sans-serif;
  background: #0d1829;
  color: #e8edf5;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 700;
}

p {
  margin: 0;
}

button {
  font-family: 'Montserrat', 'Segoe UI', 'Helvetica Neue', sans-serif;
}
